@model PersonaKey.EntityLayer.Concrete.Person

@{
    ViewData["Title"] = "Kişi Güncelle";
    var departments = ViewBag.Departments as List<PersonaKey.EntityLayer.Concrete.Department>;
    var roles = ViewBag.Roles as List<PersonaKey.EntityLayer.Concrete.Role>;
}
<div class="bg-white rounded-lg shadow p-4 max-w-full overflow-auto">
    <h2>@ViewData["Title"]</h2>

    <form asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            @Html.LabelFor(m => m.FullName, "Ad Soyad")
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, "Email")
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.DepartmentId, "Departman")
            @Html.DropDownListFor(m => m.DepartmentId,
                     new SelectList(departments, "Id", "Name", Model.DepartmentId),
                     "Seçiniz",
                     new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DepartmentId, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.RoleId, "Rol")
            @Html.DropDownListFor(m => m.RoleId,
                     new SelectList(roles, "Id", "Name", Model.RoleId),
                     "Seçiniz",
                     new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
        </div>
        <br />
        <button type="submit" class="btn btn-warning">Kaydet</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
